.body {
    margin-left: 55px;
    margin-right: 55px;
    width: 1450px;
    height: 750px;
    background-color: rgb(16, 20, 20);
    font-family: Century Gothic, sans-serif;
}

.header {
    width: 1450px;
    height: 40px;
    background-color: black;
    display: flex;
}

.header1 {
    color: #0000FF;
    font-size: 34px;
    margin-left: 30px;
    font-weight: bold;
}

.header2 {
    color: #FFFFFF;
    float: left;
    font-size: 15px;
    width: 100%;
}

.blok1 {
    padding-left: 70px;
    margin-top: 18px;
    word-spacing: 20px;
    font-weight: bold;
    float: left;
}

.blok2 {
    float: left;
    padding-left: 150px;
    font-size: 15px;
}

.blok2_5 {
    font-weight: bold;
    word-spacing: 10px;
}

.blok3 {
    float: left;
    font-size: 15px;
    padding-left: 50px;
}

.marg_0 {
    margin: 0;
    word-spacing: 10px;
    text-align: left;
}

.indent span {
    margin-right: 6px;
}

.indent .margin_used_top {
    margin-right: 22px;
}

.blok4 {
    float: left;
    font-size: 15px;
    padding-left: 50px;
    width: 12%;
}

.chart {
    margin: 0;
}

.config {
    color: rgb(44, 155, 44);
}

.chr1 {
    color: rgb(37, 107, 37);
}

.blok5 {
    float: left;
    font-size: 15px;
    padding-left: 140px;
}

.blok5_1 {
    font-weight: bold;
}

.bl_1 {
    border-bottom: 1px solid #F00;
    margin: 0;
    color: #ff6600;
}

.cl_1 {
    padding-left: 7px;
}

.pad_button {
    padding-bottom: 5px;
}

.chart_left {
    float: left;
}

.zagolovok {
    color: #FFFFFF;
    padding-left: 240px;
    font-size: 22px;
}

.user {
    float: left
}

.us1 {
    color: #FFFFFF;
    padding-left: 240px;
    font-size: 25px;
    display: flex;
}

.change {
    font-size: 13px;
    color: #0000FF;
    padding-left: 25px;
    margin-top: 10px;
}

.name {
    color: #9e9898;
    padding-left: 240px;
    margin-top: 15px;
    font-size: 13px;
}

.alex {
    padding-left: 240px;
    color: #FFFFFF;
    font-size: 16px;
}

.country {
    font-size: 13px;
    color: #9e9898;
    padding-left: 240px;
    margin-top: 25px;
}

.ukr {
    display: flex;
}

.ukraine {
    color: #FFFFFF;
    padding-left: 240px;
    font-size: 16px;
}

.ua {
    color: #9e9898;
    padding-left: 5px;
}

.center_block {
    width: 100%;
}

.login {
    width: 25%;
    margin-left: 578px;
    /*этот сдвиг сделан для выравнивания од*/
}

.login_title {
    color: #FFFFFF;
    font-size: 25px;
}

.pasword {
    color: #9e9898;
    /* одним только этим падингом надо регулировать отсупы между строчками  потому что этот интервал должен быть одинаковый*/
    padding: 15px 0px;
    font-size: 13px;
}

.change_top {
    font-size: 15px;
    margin-top: -13px;
}

.change_top span {
    color: #0000FF;
    margin-left: 10px;
    font-size: 13px;
    float: left;
}

.tochka {
    background-color: #FFFFFF;
    width: 10px;
    height: 10px;
    clip-path: circle(0.20em at 50% 40%);
    float: left;
    margin: 7px 0px 0px 1px;
}

.security {
    display: flex;
    padding-left: 190px;
    margin-top: -78px;
}

.s1 {
    color: #FFFFFF;
    font-size: 25px;
}

.tfa {
    color: #9e9898;
    padding: 15px 0px;
    font-size: 13px;
}

.dis {
    color: #FFFFFF;
    float: left;
    margin-top: -14px;
}

.ena {
    color: #0000FF;
    font-size: 13px;
    padding-left: 95px;
    margin-top: -12px;
}

.rightcol {
    width: 90%;
    min-height: 50%;
    /*Поменял в процентах ширину и высоту и почему то появились полосы прокрутки*/
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    position: fixed;
    top: 49px;
}

.leftcol {
    position: absolute;
    /* Абсолютное позиционирование */
    left: 290px;
    /* Положение левого края */
    top: 150px;
    /* Положение верхнего края */
    width: 340px;
    /* Ширина слоя */
    height: 400px;
    background: #800000;
    /* Цвет фона */
    color: white;
    /* Цвет текста */
}

.ur5 {
    color: #FFFFFF;
    margin-left: -220px;
    font-size: 25px;
    margin-top: 10px;
}

.cage5 {
    color: #0000FF;
    margin-left: 140px;
    font-size: 13px;
    padding-top: 20px;
}

.first {
    color: #9e9898;
    font-size: 13px;
    padding-top: 58px;
    margin-left: -285px;
}

.ex {
    font-size: 15px;
    margin-left: -63px;
    padding-top: 80px;
    border-bottom: 2px solid #FFFFFF;
    width: 290px;
}

.last {
    color: #9e9898;
    font-size: 13px;
    padding-top: 120px;
    margin-left: -290px;
}

.sal {
    font-size: 15px;
    margin-left: -65px;
    padding-top: 140px;
    border-bottom: 1px solid #9e9898;
    width: 290px;
}

.resident {
    color: #9e9898;
    font-size: 13px;
    padding-top: 180px;
    margin-left: -290px;
}

.kray {
    font-size: 15px;
    margin-left: -138px;
    padding-top: 200px;
    border-bottom: 1px solid #9e9898;
    width: 290px;
}

.ug {
    font-size: 15px;
    color: #9e9898;
    padding-top: 200px;
    margin-left: -225px;
}

.unit {
    color: #9e9898;
    padding-top: 197px;
    margin-right: -200px;
    font-size: 16px;
    text-align: right
}

.button {
    background-color: #0000FF;
    border: none;
    color: white;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin-top: 340px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-inline: -86px;
    width: 289px;
}